.homepage-header-image {
    width: 100%;
    filter: blur(15px);
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

.banner h1 {
    font-size: 75px;
    /*color: #212121;*/
    color: white;
    position: absolute;
    margin-bottom: 60%;
}

h2 {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    margin-top: 70px;
}

