body {
    margin: 0;
    background-color: #f5f5f5;
}

.contact-section {
    display: flex;
    justify-content: center;
    padding: 150px;
    font-family: 'Bebas Neue', sans-serif;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.contact-info, .contact-form {
    flex: 1;
    margin: 10px;
}


