footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    margin-top: 100px;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
}

footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer .footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

footer .footer-content p {
    max-width: 500px;
    margin: 20px  auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.bottom-text {
    padding-bottom: 40px;
}


