* {
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

.header {
    position: fixed;
    background-color: #F2F2F2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    list-style-type: none;
    margin-bottom: 50px;
}

a {
    font-family: 'Bebas Neue', sans-serif;
}

.header  {
    color: #212121;
}

.navbar {
    display: flex;
}


.navbar a {
    font-size: 18px;
    color: #212121;
    font-weight: 1000;
    text-decoration: none;
    margin-left: 40px;

}

.navbar a:hover {
    color: #5b95d4;
}


