.positioning {
    display: flex;
    justify-content: center;
    /*flex-direction: row;*/
    padding: 150px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
.imageposition img {
    max-width: 500px;
    height: auto;
}

.imageposition .textposition {
    flex: 1;
    margin: 10px;
}


