<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<header>
    {% block nav %}
    {% include "components/_navbar.twig" %}
    {% endblock %}
</header>

<main>
    {% block content %}

    {% endblock %}
</main>

<footer>
    {% block footer %}
    {% include "components/_footer.twig" %}
    {% endblock %}
</footer>

</body>
</html>
