{% extends "_layout.twig" %}
{% do craft.app.view.registerCssFile('@web/css/contact.css') %}
{% set contactPageEntry = craft.entries.section('contact').one() %}
{% hook 'after-body-start' %}

{% block content %}



    <section>

        {{ craft.formie.renderForm('basicForm') }}

    </section>

{% endblock %}
