{% extends "_layout.twig" %}
{% do craft.app.view.registerCssFile('@web/css/general.css') %}
{% do craft.app.view.registerCssFile('@web/css/contact.css') %}
{% hook 'after-body-start' %}

{% block content %}

    {% set contactPageEntry = craft.entries.section('contact').one() %}

    <section>

        {{ craft.formie.renderForm('basicForm') }}

    </section>

{% endblock %}
