{% extends "_layout.twig" %}
{% hook 'after-body-start' %}

{% set blocks = entry.pagebuilder.all() %}

{% block content %}
{% for block in blocks %}
<div>
    <div>
        {% include  'components/_' ~ block.type.handle %}
    </div>
</div>
{% endfor %}
{% endblock %}
