 {% do craft.app.view.registerCssFile('@web/css/BannerHome.css') %}

{% extends "_layout.twig" %}

{% block content %}

    {% set homePageEntry = craft.entries.section('homepage').type("welcomehome").one() %}

    {% set image = homePageEntry.bannerimageset.one() %}

    <section>
        <div class="bg-image">
            <div class="filter-blur">
                <img src="{{ image.url }}" alt="{{ homePageEntry.title }}" class="homepage-header-image">
            </div>
        </div>
        <div  class="banner">
            <h1 class="backdrop">{{ homePageEntry.bannertext }}</h1>
        </div>
        <main>
            <h2>{{ homePageEntry.whatshottitle}}</h2>
        </main>
        {% include 'components/_productCard.twig' %}
    </section>


{% endblock %}
