

    {% set image = entry.bannerimageset.one() %}
{% do craft.app.view.registerCssFile('@web/css/BannerHome.css') %}

{% block content %}

    {% set homePageEntry = craft.entries.section('timecraft').type("welcomehome").one() %}

    <section>
        <div class="bg-image" style="background-image: url('{{ image.url }}')">
            <div class="filter-blur">
            </div>
        </div>
        <div  class="banner">
            <h1 class="backdrop">{{ homePageEntry.bannertext }}</h1>
        </div>
        <main>
            <h2>{{ homePageEntry.whatshottitle }}</h2>
        </main>
        {% include 'components/_productCard.twig' %}
    </section>

{% endblock %}
