<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    {% do craft.app.view.registerCssFile('@web/css/Footer.css') %}
</head>
<body>
<section>
    <footer>
        <div class="footer-content">
            <h3>Timecraft</h3>
            <p>timecraft@info.com</p>
            <p>016 32 43 54</p>
            <p class="bottom-text">Gelatineboulevard 186, 3500 Hasselt, Belgium</p>
        </div>
    </footer>
</section>
</body>
</html>
