
    {% do craft.app.view.registerCssFile('@web/css/Footer.css') %}

<section>
    <footer>
        <div class="footer-content">
            <h3>{{ footer.websitetitle }}</h3>
            <p>{{ footer.websitemail }}</p>
            <p>{{ footer.websitephone }}</p>
            <p class="bottom-text">{{ footer.websitelocation }}</p>
        </div>
    </footer>
</section>
