
{% block content %}
    {%  set navMain = craft.navigate.raw('navbar') %}

    {% do craft.app.view.registerCssFile('@web/css/Nav.css') %}

    <section>
            <header class="header">
                <div class="logo">
                    <h1>Timecraft</h1>
                </div>
                <nav class="navbar">
                    {%  for node in navMain %}
                    <ul>
                        <li>
                            <a href="{{ node.url }}">{{ node.name }}</a>
                        </li>
                    </ul>{% endfor %}
                </nav>
            </header>
    </section>
{% endblock %}

