<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    {% do craft.app.view.registerCssFile('@web/css/Nav.css') %}
</head>
<body>
<section>
    <header class="header">
        <div class="logo">
            <a href="../homepage.twig">Timecraft</a>
        </div>
        <nav class="navbar">
            <a href="../overzichtpagina.twig">All products</a>
        </nav>
    </header>
</section>
</body>
</html>
